snippet prog "Latexmk build comment string"
	% !TEX TS-program = ${1:pdflatex|xelatex}
	% !TEX encoding = UTF-8 Unicode
	$0

snippet mi "inline math"
	\$ $1 \$ $0

snippet mc "math env between lines"
	$$
		$1
	$$
	$0
