snippet imnp "import numpy" b
	import numpy as np
	$1

snippet immat "plt fig and axes types" b
	import matplotlib.pyplot as plt
	import matplotlib.figure as figure
	import matplotlib.axes._axes as axes
	$0


snippet fig "plt fig with one subplot" i
	fig, ax = plt.subplot() # type:figure.Figure, axes.Axes
	$0

snippet figs "plt fig with multi subplots" i
	fig axes = plt.subplots(nrows=${1:1}, ncols=${2:2}, figsize=${3:None}) # type:figure.Figure, axes.Axesendsnippet
	${0}
