/* 
文件路径: ☰ -> [帮助] -> [更多排障信息] -> [配置文件夹]。
启用userChrome.css: 
    1. about:config
    2. toolkit.legacyUserProfileCustomizations.stylesheets -> true
*/
/* reference */
/*
https://framagit.org/ariasuni/tabcenter-reborn/-/wikis/home#userchromecss-tweaks
 */

/* Hide the horizontal tab strip */
/* First navigate to about:config and, if it exists, set browser.tabs.drawInTitlebar to false. */
#TabsToolbar:not([customizing="true"]) {
  visibility: collapse !important;
}
/* if the titlebar is also hidden and your browser is maximized,
 * clicking on the top pixel of the screen should trigger menu items (Fitt’s law)
 */
#toolbar-menubar {
  padding-top: 0px !important;
}

#sidebar-box #sidebar-header * {
  /* Hide sidebar header */
  /* visibility: collapse; */

  /* Reduce height of sidebar header */
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}
